@import "tailwindcss";

.label-style {
    @apply block text-xs font-bold uppercase text-slate-500 mb-2;
}

.input-style {
    @apply w-full px-5 py-3 rounded-xl bg-slate-50 dark:bg-white/5 border border-slate-200 dark:border-white/10 dark:text-white focus:border-cyan-500 outline-none transition-all;
}